body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.app {
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px #f5f5f5;
  padding: 8px 16px;
  flex-wrap: wrap;
}

.header-apps {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header-app {
  cursor: pointer;
  padding: 8px 8px;
  background: #f5f5f5;
  border-radius: 8px;
  margin: 8px;
  transition: all 0.15s ease-in-out;
}

.header-app:hover {
  background: #ff9800;
  color: #fff;
}

.header-app_active {
  background: #ff9800;
  color: #fff;
}

.description {
  text-align: center;
}

.content {
  padding: 32px 16px;
}
